// COLOR VARIABLES
$color-primary: #56A3A6;
$color-secondary: #FCFCFC;
$color-tertiary: #536564;
$color-white: #FFF;
$color-black: #000;
$color-grey: #98A79D;

$font-color-dark: #1A1920;
$font-color-brown: #B68364;

// FONT SIZE
$default-font-size: 2rem;

// FONT FAMILLY
$default-font-family: "Roboto";
$headings-font-family: "Roboto Mono";
